h1 {
  color: #eaff00;
  font-family: 'Courier', serif;
  font-size: 32pt;
  transition: .4s;
  -webkit-transition: .4s;
}

body[data-light-mode="night"] h1 {
  color: #00d37b;
  font-family: 'Courier', serif;
  font-size: 32pt;
}

#grave-form {
  display: none;
  margin: .5rem;
}

#flower-form-container {
  display: none;
  margin: .5rem;
}

aside {
  position: absolute;
  width: 256px;
  left: 1048px;
  padding-left: .5rem;
  margin-left: .5rem;
  font-style: bold;
  color: #eaff00;
  font-family: 'Courier', serif;
  transition: .4s;
  -webkit-transition: .4s;
}

body[data-light-mode="night"] aside {
  color: #00d37b;
}

aside > p {
  margin: .5rem;
}

p {
  font-family: 'Courier', serif;
}

body {
  position: absolute;
  background-color: rgb(151, 171, 177);
  transition: .4s;
  -webkit-transition: .4s;
}

body[data-light-mode="night"] {
  background-color: #000;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
    
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
    
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(121, 213, 230);
  transition: .4s;
  -webkit-transition: .4s;
}
    
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(255, 247, 0);
  transition: .4s;
  -webkit-transition: .4s;
}
    
input:checked + .slider {
  background-color: #171717;
}
    
    
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: #00d37b;
}

#canvas-layers {
  padding: 0;
  display: block;
  width: 1024px;
  height: 736px;
}

#graveCanvas {
  padding: 0;
  position: absolute;
  margin: 0 auto;
}

#gameCanvas {
  padding: 0;
  position: absolute;
  z-index: -100;
  margin: 0 auto;
  border:1px solid #000000;
  background-color: rgb(161, 208, 163);
  transition: .4s;
  -webkit-transition: .4s;
}

body[data-light-mode="night"] #gameCanvas {
  padding: 0;
  display: block;
  margin: 0 auto;
  background-color: rgb(64, 119, 122);
}

#grave-text {
  font-size: 6;
  position: absolute;
  top: 482px;
  text-align: center;
  margin: 60px;

}

